<div class="term" role="img" aria-label="Terminal session in the custom shell: changing directory, piping number_producer into number_consumer to print Sum: 15, piping ls into wc -l to print 4, redirecting echo into a file, and reading it back with input redirection.">
  <div class="term-bar" aria-hidden="true"><span></span><span></span><span></span><em>myshell</em></div>
  <pre class="term-body" aria-hidden="true" data-term='[
    {"p":"~/c_shell> ","c":"cd piping_tests"},
    {"p":"~/c_shell/piping_tests> ","c":"./number_producer | ./number_consumer","o":"Sum: 15"},
    {"p":"~/c_shell/piping_tests> ","c":"ls | wc -l","o":"4"},
    {"p":"~/c_shell/piping_tests> ","c":"echo hello world > out.txt"},
    {"p":"~/c_shell/piping_tests> ","c":"cat < out.txt","o":"hello world"}
  ]'></pre>
</div>
